/* reset rules */
html{
  font-family: "Open Sans", sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  color: currentColor;
}

/* custom properties*/
:root{
  --btn-bg-color: #0061ff;
}

/* buttons */
.btn{
  display: block;
  color: white;
  padding: 0px 16px;
  line-height: 44px;
  background-color: var(--btn-bg-color);
}
.start.btn{
  line-height: 34px;
}


/* col width */
.col-100{
  width: 100%;
}
.col-65{
  width: 65%;
}
.col-35{
  width: 35%;
}
.col-33{
  width: calc(100%/3);
}

/* container sizes [big - sm] */
.container{
  margin: 0 auto;
}

.container.big{
  max-width: 1200px;
  padding: 0 15px;
}
.container.sm{
  max-width: 1000px;
}

/* header - main - footer main rules */
header{
  padding: 18px 14px;
}

/* navbar */
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar>ul li{
 padding : 0 16px;
}
.logo-small{
  vertical-align: middle;
}

/* hero section */
.hero{
  padding-top: 60px;
  background-color: #B4D0E7;
}
.hero .row{
  display: flex;
  align-content: center;
}

.big-title{
  font-size: 50px;
}
.hero .col-100{
  margin-bottom: 60px;
}
.col-65 img{
  margin-bottom: -100px;
  max-width: 100%;
}
.hero-feature .col-35{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}
/* icon style */
.fa-solid{
  font-size: 50px;
  margin-top: auto;
  padding-bottom: 15px;
}

/* buy now section */
.buy-now .container.sm{
  margin-top: 200px;
}
.row{
  max-width: 100%;
}
.billing-pref{
  margin-bottom: 80px;
  font-size: 35px;
}


/* buy plans */
.row.buy-plans{
  display: flex;
  flex-wrap: wrap;
}





/* !DEBUG */
.debug.buy-now{
  min-height: 500px;
}

.debug .container{
  border: 1px solid black;
  background-color: bisque;
}

.debug .row{
  border: 1px dashed rgb(255, 255, 255);
  background-color: chocolate;

}

.debug .col-100, .debug .col-35, .debug .col-65{
  background-color: cadetblue;
  border: 1px dashed greenyellow;
}
.debug .col-33{
  background-color: cornflowerblue;
  border: 1px dashed greenyellow;
}
.debug .row.buy-plans .col-100{
  min-height: 100px;
}