/* reset rules */
html{
  font-family: "Open Sans", sans-serif;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, li{
  list-style: none;
  display: inline-block;
}

a{
  text-decoration: none;
  color: currentColor;
}

/* custom properties*/
:root{
  --btn-bg-color: #0061ff;
}

/* buttons */
.btn{
  color: white;
  padding: 10px 18px;
  background-color: var(--btn-bg-color);
}
.btn.free-trial{
  margin: 35px 0;
  display: inline-block;
}

/* container sizes [big - sm] */
.container.big{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header - main - footer main rules */
header{
  padding: 30px 18px;
}

/* navbar */
.navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar>ul li{
  margin: 0 10px;
}
.logo-small{
  vertical-align: middle;
}

/* hero section */
.hero{
  padding-top: 60px;
  background-color: #B4D0E7;
}
.hero .row{
  display: flex;
  align-content: center;
}

.big-title{
  font-size: 50px;
}
.col-100{
  width: 100%;
  margin-bottom: 60px;
}
.col-65{
  width: 65%;
}
.col-65 img{
  max-width: 100%;
}
.col-35{
  padding: 0 10px;
  width: 35%;
  position: relative;
}

.fa-solid{
  font-size: 50px;
  position: absolute;
  bottom: 15px;
  left: 10px;
}


/* !DEBUG */
